{
    margin: 0;
    padding: 0;
}
nav-bar{
    position: sticky;
    top: 0;
    z-index: 10
}
.navbar-brand img {
    height: 80px;
    padding-left: 30px;
    width: 100%
}
navbar-nav .li{
    padding: 0 10px
}
navbar-nav li .a {
    float: right;
    text-align: left
}
.nav-bar{
    background: #fff;
}
.navbar-toggler{
    border: none;
}
.nav-link{
    color: #555;
    font-weight: 500;
    font-size: 20px
}
#slider{
    width: 100%;
}
#carousel-caption{
    top:50%;
    bottom: inherit!important;
}
#carousel-caption h5{
    color: #000;
    font-size: 42px
}
About{
    padding-top: 50px;
    padding-bottom: 50px
    color: blue;
    
}
.btn1{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.about-content{
    padding-top: 20px
}
.skills-bar p{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress-bar{
    border-radius: 20px
}
.progress{
    border-radius: 20px;
    margin-bottom: 20px
}
#Services{
    background-image: url(img7.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#Services h1{
    text-align: center;
    color: blue;
    padding-bottom: 10px;
}
#Services h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}
.services{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
}
#Services p{
    font-size: 20px;
    margin-top: 20px;
    color:indianred;
}
#Services h3{
    color: red
}
.services col-md-3: hover{
    background: blue;
    cursor: pointer;
    transition: 1s
}
#Marwan{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ccc;
}
h1{
    text-align: center;
    color: blue;
    padding-bottom: 10px
}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{
    filter: grayscale(1);
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer 
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-top: 15px
}
.profile-pic h3{
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-top: 15px
}
.profile-pic p{
    margin-top: 15px;
    font-size: 22px;
    color: black
}
#promo{
    background-image: url(img8.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 25px
}
#price{
    padding: 40px 0;
    background: #efefef;  
}
.single-price{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 1S;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
}
#price span{
    font-size: 15px;
}
.price-content{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
}
ul li:last-child{
    border: none;
}
.fa-check-circle{
    color: green;
    margin-right: 10px;
    font-size: 20px;
}
.fa-times-circle{
    color: red;
    margin-right: 10px;
    font-size: 20px;
}
.price-button{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%;
}
.buy-btn{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;
}
a{
    text-decoration: none!important;
    color: #fff!important
}
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form{
    padding: 15px
}